/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* css */





.pc_only {
  display: block;
}

.sp_only {
  display: none;
}

body {
  overflow-y: hidden;
  font-family: 'Sawarabi Mincho', sans-serif;
  /* padding-top: 75px; */
  background: #f4f5f7;
}



.main_colum {
  height: 100vh;
}

.main {
  margin: 200px 0 10px 200px;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 100;
  position: relative;
  letter-spacing: .2em;
}
.main .h1_right {
  position: absolute;
  top: 40px;
  left: 35px;
}

.main img {
  position: absolute;
  top: 200px;
  left: 450px;
}

.main p:first-of-type {
  margin-top: 80px;
  font-size: 15px;
  font-weight: normal;
}

.main p {
  font-size: 15px;
  margin-top: 5px;
  
}

/* .main p:last-child::before {
  content: "";
  position: absolute;
  top: 300px;
  left: 0;
  border-bottom: 1px solid #000;
  width: 700px;
} */



.main p:last-child::after {
  content: "scroll right";
  position: absolute;
  /* top: 780px; */
  top: 50px;
  left: 0;
  border-bottom: 2px solid rgba(50, 0, 0, .2);
  width: 800px;
  text-align: center;
  font-size: 50px;
  font-family: 'The Nautigal', cursive;
}



.nav ul {
  padding: 350px 0 0 200px;
  font-size: 20px;
}
.nav .red_item {
  position: relative;
  /* top: -5px; */
  /* right: -10px; */
  color: red;
  font: 10px;

}

.nav li:last-child {
  margin-top: 40px;
  position: relative;
}



.nav  .button {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: .2em;
}

.nav li:first-of-type .button:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 15%;
  border: 1px solid #000;
  width: 90px;
  transition: all .3s;
}


.nav li:first-of-type .button:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  
  border: 1px solid #000;
  transform: rotate(35deg);
  width: 15px;
  transition: all .3s;
}

.nav li:nth-of-type(2) .button:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 15%;
  border: 1px solid #000;
  width: 110px;
  transition: all .3s;
}


.nav li:nth-of-type(2) .button:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -24px;
  border: 1px solid #000;
  transform: rotate(35deg);
  width: 15px;
  transition: all .3s;
}

.nav li:first-of-type .button:hover::before,
.nav li:nth-of-type(2) .button:hover::before {
  left: 30%;
}

.nav li:first-of-type .button:hover::after {
  right: -15%;
}

.nav li:nth-of-type(2) .button:hover::after {
  right: -40%;}

.main_right h3 {
  margin: 5px 0 0  30px;
}

.modal_btn_o {
  position: relative;
  top: 45px;
  left: 600px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: rgba(150, 0, 0, .1);
  border-radius: 3px;
  border: 1px solid #000;
}
.modal_btn {
  border-bottom: 1px solid #000;
  width: 50px;
  display: block;
  text-align: center;
  font-size: 17px;
  letter-spacing: .2rem;
  margin: 0 auto;
  color: #000;
  padding-top: 5px;
  height: 20px;
  transition: all .3s;
}

.modal_btn:hover {
  opacity: .3;
  border-bottom: 1px solid #000;
  width: 80%;
}

.modal_btn_c {
  width: 100px;
  margin: 0 auto;
  background: #f4f5f7;
  height: 25px;
  border: 3px solid #fff;
  margin-top: 65px;
  border-radius: 5px;
}

.modal_btn_close {
  color: #000;
  display: block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 3px;
  font-weight: bold;
  font-size: 17px;
  width: 60px;
  height: 25px;
  border-bottom: 1px solid #000;
  transition: all .3s;
}

.modal_btn_close:hover {
  opacity: 0.7;
  border-bottom: 1px solid #000;
  width: 80%;
}

.main_right h2 {
  position: relative;
  font-weight: normal;
}

.main_right h3 {
  display: inline-block;
  background: linear-gradient(transparent 60%, rgba(200,0,0,.4));
}



.main_right {
  height: 100vh;
  margin: 25px 0 0 450px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

/* aタグをbtnたぐに！！ */
.main_right .photo {
  margin: 10px 0 0 30px;
}

.main_right img{
  width: 600px;
  height: 290px;
  object-fit: cover;
  border: 1px solid #000;
}



.main_right dt {
  float: left;
}

.main_right dd {
  margin-left: 80px;
  margin-bottom: 5px;
}


.flex {
  display: flex;
}

.img_flex {
  display: flex;
}


.img_flex a {
  margin:20px 20px 0 30px;
}

.img_flex a:last-child {
  margin-left: 10px;
}

.main_right dl {
  margin-left: 60px;
  padding-bottom: 5px;
  border-bottom: 2px solid #cccccc;
  
}

.main_right h3>a {
  margin-left: 20px;
}



.img_flex img:hover {
  opacity: 0.8;
}
.img_flex img:first-child {
  margin-left: 0;
  margin-right: 0;
}


/* .main_colum {
  opacity: 0;
  transition: opacity .3s  transform .3s;
} */
/* .main_colum.main_from_left {
  transform: translateX(-30px);
} */

/* .main_colum.appear {
  opacity: 1;
  transform: none;
}  */

.main_colum {
  animation: anime 5s;
  /* background-color: rgba(0, 0, 0, 0); */
  /* color　カラー */
  
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.modal {
  background-color:rgba(0, 0, 0, .9);
  height: 800px;
  margin: 50px auto 0;
  width: 1400px;
  border: 1px solid #000;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 150px;
  display: none;
}

/* .photo.appear {
  display: block;
} */

#modal.appear {
  display: block;
}
.modal h1 {
  color: #fff;
  padding: 20px 0 0;
  font-weight: normal;
  text-align: center;
}
.modal_flex {
  display: flex;
  height: 80%;
  width: 80%;
  margin:  0 auto;
  padding-top: 10px;
}



section.modal1 {
  height: 750px;
  width: 200px;
}

section.modal2 {
  height: 750px;
  width: 200px;
  margin-left: 10px;
  }

section.modal3 {
  height: 750px;
  width: 400px;
  margin-left: 10px;
  }

  .modal_txt {
    color: #fff;
    font-size: 15px;
    text-align: right;
    margin-top: 5px;
  }

.modal img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 3px;
}

.about_flex {
  display: flex;
  margin: 60px 0 100px 0;
  width: 700px;
  justify-content: space-between;
  
}

.about {
  margin: 60px 0 0 200px;
  padding-right: 100px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.about h2 {
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: -25px;
}

.about img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin: 20px 0;
  border: 1px solid #000;
}

.about_txt {
  padding-top: 30px;
}

.about_txt h3 {
  font-size: 25px;
  font-weight: normal;
}

.about_txt p {
  margin: 5px 0 50px 0;
}





.main_right dl  {
  font-size: 15px;
}
.about dt {
  float: left;
}

.about dd {
  margin-left: 60px;
  margin-bottom: 8px;
}



.coment p {
  width: 900px;
  font-size: 20px;
  line-height: 2.5rem;
  letter-spacing: .1rem;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
}

.coment .text_right {
  display: block;
  text-align: right;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 0;
}



.carouse {
  padding-right: 250px;
}

.carouse img {
  width: 600px;
  height: 500px;
  margin-top: 120px;
  object-fit: cover;
  border: 1px solid #000;
  transition: all .3s ease-in-out;
  border-radius: 3px;
}

nav .btn {
  text-decoration: none;
  display: inline-block;
  position: relative;
  /* padding: 0 20px; */
  color: #000;
  cursor: pointer;
}

.carouse nav {
  text-align: right;
  margin: 100px 50px 0 0;
  font-size: 20px;
}

.carouse nav .btn {
  width: 100px;
}

.carouse .btn::before {
  position: absolute;
  content: "";
  border: 1px solid #000;
  width: 20px;
  top: 22px;
  left: 15px;
  transform: rotate(-35deg);
  transition: all .3s;
}


.carouse .btn::after {
  position: absolute;
  content: "";
  border: 1px solid #000;
  width: 80px;
  bottom: -10px;
  right: 0;
  transition: all .3s;
}

.carouse .btn:hover:before {
  left: -5%;
}
.carouse .btn:hover:after {
  width: 100px;
}

nav .btn:hover {
  opacity: .6;
}

#middle {
  width: 500px;
  height: 100vh;
}

#hibari_modal.app {
  display: block;
}

#hibari_modal {
  background-color:rgba(0, 0, 0, .9);
  height: 800px;
  margin: 50px auto 0;
  width: 1400px;
  border: 1px solid #000;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 150px;
  color: aliceblue;
  display: none;
  text-align: center;
}

.modal_hibari h1 {
  padding: 25px 0 10px;
  font-weight: normal;
}
.hibari_bottom,
.hibari_top {
  display: flex;
  padding: 10px 180px 0;
  height: 40%;
  justify-content: space-between;
}

.hibari_bottom dl {
  margin-left: 0;
}

.hibari_img {
  width: 60%;
}

.hibari_img img {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
}

.hibari_txt {
  padding-top: 80px;
}

.hibari_bottom .hibari_txt {
  padding-top: 120px;
}

.hibari_txt dt {
  float: left;
}

.hibari_txt dd {
  margin-left: 80px;
  margin-bottom: 20px;
}

.hibari_txt a {
  text-decoration: noen;
  color: #fff;
}

.hibari_modal_btn_c {
  width: 100px;
  margin: 20px auto 0;
  background: #fff;
  height: 25px;
  border: 3px solid #fff;
  border-radius: 5px;
}

.hibari_modal_btn_close {
  color: #000;
  display: block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 3px;
  font-weight: bold;
  font-size: 17px;
  width: 60px;
  height: 25px;
  border-bottom: 1px solid #000;
  transition: all .3s;
}

.hibari_modal_btn_close:hover {
  opacity: 0.7;
  border-bottom: 1px solid #000;
  width: 80%;
}

@media (max-width: 480px) {

  .pc_only {
    display: none;
  }
  
  .sp_only {
    display: block;
  }

  .main p:last-child::after {
    display: none;
  }

  .nav, .modal_btn_o {
    display: none;
  }

  body {
    overflow-y: auto;
    width: 100%;
  }
  .flex {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .main_colum {
    height: auto;
  }

  .main {
    margin: 20px 20px 0 20px;
  }

  .main h1 {
    font-size: 1.2rem;
  }

  .main .h1_right {
    top: 16px;
    left: 20px;
  }

  .main img {
    top: 60px;
    left: 270px;
    width: 100px;
    height: 100px;
  }

  .main p {
    font-size: 10px;
  }
  .main p:first-of-type {
    margin-top: 65px;
    font-size: 10px;
    font-weight: normal;
  }

  .main_right {
    margin: 20px 0 0 0 ;
    padding: 0 15px;
    height: auto;
  }

  .img_flex {
    display: block;
  }

  .main_right .photo {
    margin: 0;
  }

  .main_right img {
    width: 100%;
    height: 200px;
  }

  .main_right h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
  }

  .modal_btn_o {
    position: static;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background: #cccccc;
    border-radius: 3px;
    border: 1px solid #000;
    margin: 0 auto;
  }


  .main_right dl {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
  }
  .secondimg_flex {
    margin-top: 20px;
  }

  .img_flex a {
    margin: 20px 0 ;
  }

  .about {
    margin: 20px 0 0 0; 
    padding: 0;
  }
  .about h2 {
    position: static;
  }

  .about_flex {
    margin: 30px 0 50px 0;
    display: block;
    width: 100%;
    text-align: center;
  }

  .about img {
    margin: 10px auto;
  }

  .about_txt {
    padding: 30px;
    text-align: left;
    font-size: 12px;
  }

  .about_txt h3 {
    font-size: 15px;
  }

  .about dd {
    margin-bottom: 10px;
  }

  .coment {
    padding: 0 15px;
  }

  .coment p {
    width: auto;
    font-size: 10px;
  }

  .carouse {
    padding: 0 15px;
    
  }

  .carouse img {
    width: 100%;
    height: 250px;
    margin-top: 10px;
  }

}