/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* css */

body {
  overflow-y: hidden;
  font-family: 'Sawarabi Mincho', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
.main_colum {
  height: 100vh;
}

.main {
  margin: 200px 0 10px 200px;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 100;
  position: relative;
}

.main img {
  position: absolute;
  top: 200px;
  left: 450px;
}

.main p:first-of-type {
  margin-top: 85px;
  font-size: 20px;
  font-weight: bold;
}

.main p {
  font-size: 15px;
}



.nav ul {
  padding: 150px 0 0 200px;
  font-size: 20px;
}


.nav li:last-child {
  margin-top: 40px;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  color: #000;
}

.nav li:first-of-type a:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 15%;
  border: 1px solid #000;
  width: 80px;
  transition: all .3s;
}


.nav li:first-of-type a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  
  border: 1px solid #000;
  transform: rotate(35deg);
  width: 15px;
  transition: all .3s;
}

.nav li:nth-of-type(2) a:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 15%;
  border: 1px solid #000;
  width: 100px;
  transition: all .3s;
}


.nav li:nth-of-type(2) a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -24px;
  border: 1px solid #000;
  transform: rotate(35deg);
  width: 15px;
  transition: all .3s;
}

.nav li:first-of-type a:hover::before,
.nav li:nth-of-type(2) a:hover::before {
  left: 30%;
}

.nav li:first-of-type a:hover::after {
  right: -15%;
}

.nav li:nth-of-type(2) a:hover::after {
  right: -40%;}


.main_right h2 {
  position: relative;
}



.main_right {
  height: 100vh;
  margin: 50px 0 0 450px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.main_right img{
  width: 600px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #000;
}



.main_right dt {
  float: left;
}

.main_right dd {
  margin-left: 80px;
}


.flex {
  display: flex;
}

.img_flex {
  display: flex;
}


.img_flex a {
  margin:30px 20px 10px 30px;
}

.main_right dl {
  margin-left: 30px;
}

.img_flex img:hover {
  opacity: 0.8;
}
.img_flex img:first-child {
  margin-left: 0;
  margin-right: 0;
}


/* .main_colum {
  opacity: 0;
  transition: opacity .3s  transform .3s;
} */
/* .main_colum.main_from_left {
  transform: translateX(-30px);
} */

/* .main_colum.appear {
  opacity: 1;
  transform: none;
}  */

.main_colum {
  animation: anime 5s;
  /* background-color: rgba(0, 0, 0, 0); */
  /* color　カラー */
  
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.about_flex {
  display: flex;
  margin-top: 200px;
  width: 800px;
  justify-content: space-between;
  
}

.about {
  margin: 60px 0 0 200px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.about h2 {
  font-size: 25px;
  font-weight: 100;
}

.about img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px 0;
}

.about_txt {
  margin: auto 0;
}





.main_right dl  {
  font-size: 15px;
}
.about dt {
  float: left;
}

.about dd {
  margin-left: 60px;
}